/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

.btn{
    color: white;
    background-color: rgba(0,97,255,255);
    padding: 5px 10px;
}

.mt30{
    margin-top: 30px;
}

.jcCenter{
    justify-content: center;
}

.pv10{
    padding: 10px 0;
}

.mr5{
    margin-right: 5px;
}

.width100{
    width: 100%;
}

.inlBlo{
    display: inline-block;
}

.mt100{
    margin-top: 100px;
}

img{
    display: block;
}
/* Header */
header > div{
    width: 50%;
}

header li{
    padding: 10px;
    display: flex;
    align-items: center;
}

header ul{
    height: 100%;
}

header > div:last-child{
    justify-content: flex-end;
}

.width{
    width: 70%;
}

.ppb{
    padding: 20px 15px;
}

.mt15{
    margin-top: 15px;
}

.colGrey{
    color: rgba(215,215,218,255);
}
/* Main */
/* Jumbotron */
#jumbo{
    background-color: rgba(181,208,231,255);
    padding-top: 50px;
    padding-bottom: 5px;
}

#jumbo > div{
    width: 70%;
}

h1{
    font-size: 3em;
}

#infoPhotoJumbo > div:first-child{
    width: 40%;
}

#infoPhotoJumbo > div:last-child{
    width: 60%;
    position: relative;
}

#infoPhotoJumbo i{
    font-size: 2em;
}

#infoPhotoJumbo img{
    width: 100%;
    position: absolute;
}
/* Piano Businnes */
#pianoBusinnes{
    padding: 100px 0;
}

h2{
    font-size: 2em;
}

#labFatMen{
    margin-right: 30px;
}

#slotContainer{
    justify-content: space-between;
    flex-wrap: wrap;
}

.column{
    width: 30%;
    border: 1px solid rgba(215,215,218,255);
}

#pianoBusinnes > div{
    width: 60%;
}

.userLogoContainer{
    border-bottom: 1px solid rgba(215,215,218,255);
}

.separatore{
    width: 25%;
    border-top: 1px solid rgba(215,215,218,255);
}

.colBlue{
    color: rgba(0,97,255,255);
}

#slot4{
    width: 100%;
    border: 1px solid rgba(215,215,218,255);
}

#enterprise{
    width: 70%;
}

#ufficioVendite{
    width: 30%;
    justify-content: flex-end;
}

#parthnerDropbox > div:first-child{
    width: 60%;
}

#parthnerDropbox > div:last-child{
    width: 40%;;
}

#parthnerDropbox img{
    width: 100%;
}

.btn2{
    color: rgba(215,215,218,255);
    padding: 5px 10px;
    border: 1px solid rgba(215,215,218,255);
}